<p id="notice"><%= notice %></p>

<p>
  <b>Age:</b>
  <%= @user.age %>
</p>

<p>
  <b>First name:</b>
  <%= @user.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @user.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<% user.reviews.each do |review| %></td>
        <td><%= review.id %></td>
        <td><%= review.book_id %></td>
        <td><%= review.description %></td>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
